<template>
    <div>
       
         Hoii
    </div>
</template>

<script>


export default {
   
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
