<template>
    <div>
        <!-- <router-view></router-view> -->
        Hoii
    </div>
</template>

<script>
import AdminBase from "./AdminBase.vue";

export default {
      components: {
        AdminBase
    },
    methods: {
     
    }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
